.v-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5555;
  &__container {
    width: 600px;
    background: var(--secondary);
    padding: 20px;
    position: relative;
    border-radius: 10px;
    color: #fff;
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
  }
  &__closer {
    font-size: 35px;
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: 0.25s;
    &:hover {
      color: #727070;
      background: rgba(0,0,0,.2);
    }
  }
}