.search {
  &__input {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    background: rgba(255,255,255,.8);
    padding-left: 15px;
    padding-right: 15px;
    &:focus, &:active {
      outline: none;
    }
    &__wrapper {
      z-index: 1;
      position: relative;
      max-width: 500px;
      margin: auto;
    }
  }
  &__img {
    opacity: .78;
    border-radius: 10px;
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  &__wrapper {
    height: 100vh;
    overflow: auto;
    padding: 10px;
  }

  &__inner {
    width: 1200px;
    max-width: 100%;
    padding: 15px;
    margin: auto;
  }

  &__table {
    z-index: 1;
    position: relative;
    border-collapse: separate;
    border: none;
    width: 100%;
    border-spacing: 0 30px;

    thead th {
      text-align: left;
    }
    th, td {
      padding: 20px;
      background: rgb(31, 41, 55);
    }

    thead th,
    tbody td {

      &:first-child {
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
    tbody {
      color: rgb(156, 163, 175);

      td {
        background: rgb(31, 41, 55);
        padding: 20px;
        transition: 0.25s;
        position: relative;
      }

      tr {
        cursor: pointer;

        &:hover {
          td {
            background: rgb(68, 78, 94);
          }
        }
      }
    }
    &__img {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
    .search__table__cell-img {
      padding-right: 50px;
    }
  }

}


.linear-activity {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: #B3E5FC;
}

.determinate {
  position: relative;
  max-width: 100%;
  height: 100%;
  -webkit-transition: width 500ms ease-out 1s;
  -moz-transition: width 500ms ease-out 1s;
  -o-transition: width 500ms ease-out 1s;
  transition: width 500ms ease-out 1s;
  background-color: #03A9F4;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #03A9F4;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #4FC3F7;
  animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}